@charset "UTF-8";
/*
 * By aru
 */
/* FONTS */
@font-face {
  -webkit-font-family: Iosevka Curly;
  -moz-font-family: Iosevka Curly;
  -o-font-family: Iosevka Curly;
  -ms-font-family: Iosevka Curly;
  font-family: Iosevka Curly;
  -webkit-font-weight: 500;
  -moz-font-weight: 500;
  -o-font-weight: 500;
  -ms-font-weight: 500;
  font-weight: 500;
  -webkit-font-style: normal;
  -moz-font-style: normal;
  -o-font-style: normal;
  -ms-font-style: normal;
  font-style: normal;
  -webkit-font-stretch: normal;
  -moz-font-stretch: normal;
  -o-font-stretch: normal;
  -ms-font-stretch: normal;
  font-stretch: normal;
  -webkit-font-display: swap;
  -moz-font-display: swap;
  -o-font-display: swap;
  -ms-font-display: swap;
  font-display: swap;
  -webkit-src: url("fonts/medium/Iosevka-Curly-Medium.eot");
  -moz-src: url("fonts/medium/Iosevka-Curly-Medium.eot");
  -o-src: url("fonts/medium/Iosevka-Curly-Medium.eot");
  -ms-src: url("fonts/medium/Iosevka-Curly-Medium.eot");
  src: url("fonts/medium/Iosevka-Curly-Medium.eot");
  -webkit-src: url("fonts/medium/Iosevka-Curly-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/medium/Iosevka-Curly-Medium.woff2") format("woff2"), url("fonts/medium/Iosevka-Curly-Medium.woff") format("woff"), url("fonts/medium/Iosevka-Curly-Medium.ttf") format("truetype"), url("fonts/medium/Iosevka-Curly-Medium.svg#Iosevka-Curly-Medium") format("svg");
  -moz-src: url("fonts/medium/Iosevka-Curly-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/medium/Iosevka-Curly-Medium.woff2") format("woff2"), url("fonts/medium/Iosevka-Curly-Medium.woff") format("woff"), url("fonts/medium/Iosevka-Curly-Medium.ttf") format("truetype"), url("fonts/medium/Iosevka-Curly-Medium.svg#Iosevka-Curly-Medium") format("svg");
  -o-src: url("fonts/medium/Iosevka-Curly-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/medium/Iosevka-Curly-Medium.woff2") format("woff2"), url("fonts/medium/Iosevka-Curly-Medium.woff") format("woff"), url("fonts/medium/Iosevka-Curly-Medium.ttf") format("truetype"), url("fonts/medium/Iosevka-Curly-Medium.svg#Iosevka-Curly-Medium") format("svg");
  -ms-src: url("fonts/medium/Iosevka-Curly-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/medium/Iosevka-Curly-Medium.woff2") format("woff2"), url("fonts/medium/Iosevka-Curly-Medium.woff") format("woff"), url("fonts/medium/Iosevka-Curly-Medium.ttf") format("truetype"), url("fonts/medium/Iosevka-Curly-Medium.svg#Iosevka-Curly-Medium") format("svg");
  src: url("fonts/medium/Iosevka-Curly-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/medium/Iosevka-Curly-Medium.woff2") format("woff2"), url("fonts/medium/Iosevka-Curly-Medium.woff") format("woff"), url("fonts/medium/Iosevka-Curly-Medium.ttf") format("truetype"), url("fonts/medium/Iosevka-Curly-Medium.svg#Iosevka-Curly-Medium") format("svg"); }
@font-face {
  -webkit-font-family: Iosevka Curly;
  -moz-font-family: Iosevka Curly;
  -o-font-family: Iosevka Curly;
  -ms-font-family: Iosevka Curly;
  font-family: Iosevka Curly;
  -webkit-font-weight: 700;
  -moz-font-weight: 700;
  -o-font-weight: 700;
  -ms-font-weight: 700;
  font-weight: 700;
  -webkit-font-style: normal;
  -moz-font-style: normal;
  -o-font-style: normal;
  -ms-font-style: normal;
  font-style: normal;
  -webkit-font-stretch: normal;
  -moz-font-stretch: normal;
  -o-font-stretch: normal;
  -ms-font-stretch: normal;
  font-stretch: normal;
  -webkit-font-display: swap;
  -moz-font-display: swap;
  -o-font-display: swap;
  -ms-font-display: swap;
  font-display: swap;
  -webkit-src: url("fonts/bold/Iosevka-Curly-Bold.eot");
  -moz-src: url("fonts/bold/Iosevka-Curly-Bold.eot");
  -o-src: url("fonts/bold/Iosevka-Curly-Bold.eot");
  -ms-src: url("fonts/bold/Iosevka-Curly-Bold.eot");
  src: url("fonts/bold/Iosevka-Curly-Bold.eot");
  -webkit-src: url("fonts/bold/Iosevka-Curly-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/bold/Iosevka-Curly-Bold.woff2") format("woff2"), url("fonts/bold/Iosevka-Curly-Bold.woff") format("woff"), url("fonts/bold/Iosevka-Curly-Bold.ttf") format("truetype"), url("fonts/bold/Iosevka-Curly-Bold.svg#Iosevka-Curly-Bold") format("svg");
  -moz-src: url("fonts/bold/Iosevka-Curly-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/bold/Iosevka-Curly-Bold.woff2") format("woff2"), url("fonts/bold/Iosevka-Curly-Bold.woff") format("woff"), url("fonts/bold/Iosevka-Curly-Bold.ttf") format("truetype"), url("fonts/bold/Iosevka-Curly-Bold.svg#Iosevka-Curly-Bold") format("svg");
  -o-src: url("fonts/bold/Iosevka-Curly-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/bold/Iosevka-Curly-Bold.woff2") format("woff2"), url("fonts/bold/Iosevka-Curly-Bold.woff") format("woff"), url("fonts/bold/Iosevka-Curly-Bold.ttf") format("truetype"), url("fonts/bold/Iosevka-Curly-Bold.svg#Iosevka-Curly-Bold") format("svg");
  -ms-src: url("fonts/bold/Iosevka-Curly-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/bold/Iosevka-Curly-Bold.woff2") format("woff2"), url("fonts/bold/Iosevka-Curly-Bold.woff") format("woff"), url("fonts/bold/Iosevka-Curly-Bold.ttf") format("truetype"), url("fonts/bold/Iosevka-Curly-Bold.svg#Iosevka-Curly-Bold") format("svg");
  src: url("fonts/bold/Iosevka-Curly-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/bold/Iosevka-Curly-Bold.woff2") format("woff2"), url("fonts/bold/Iosevka-Curly-Bold.woff") format("woff"), url("fonts/bold/Iosevka-Curly-Bold.ttf") format("truetype"), url("fonts/bold/Iosevka-Curly-Bold.svg#Iosevka-Curly-Bold") format("svg"); }
@font-face {
  -webkit-font-family: Iosevka Curly;
  -moz-font-family: Iosevka Curly;
  -o-font-family: Iosevka Curly;
  -ms-font-family: Iosevka Curly;
  font-family: Iosevka Curly;
  -webkit-font-weight: 900;
  -moz-font-weight: 900;
  -o-font-weight: 900;
  -ms-font-weight: 900;
  font-weight: 900;
  -webkit-font-style: normal;
  -moz-font-style: normal;
  -o-font-style: normal;
  -ms-font-style: normal;
  font-style: normal;
  -webkit-font-stretch: normal;
  -moz-font-stretch: normal;
  -o-font-stretch: normal;
  -ms-font-stretch: normal;
  font-stretch: normal;
  -webkit-font-display: swap;
  -moz-font-display: swap;
  -o-font-display: swap;
  -ms-font-display: swap;
  font-display: swap;
  -webkit-src: url("fonts/heavy/Iosevka-Curly-Heavy.eot");
  -moz-src: url("fonts/heavy/Iosevka-Curly-Heavy.eot");
  -o-src: url("fonts/heavy/Iosevka-Curly-Heavy.eot");
  -ms-src: url("fonts/heavy/Iosevka-Curly-Heavy.eot");
  src: url("fonts/heavy/Iosevka-Curly-Heavy.eot");
  -webkit-src: url("fonts/heavy/Iosevka-Curly-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/heavy/Iosevka-Curly-Heavy.woff2") format("woff2"), url("fonts/heavy/Iosevka-Curly-Heavy.woff") format("woff"), url("fonts/heavy/Iosevka-Curly-Heavy.ttf") format("truetype"), url("fonts/heavy/Iosevka-Curly-Heavy.svg#Iosevka-Curly-Heavy") format("svg");
  -moz-src: url("fonts/heavy/Iosevka-Curly-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/heavy/Iosevka-Curly-Heavy.woff2") format("woff2"), url("fonts/heavy/Iosevka-Curly-Heavy.woff") format("woff"), url("fonts/heavy/Iosevka-Curly-Heavy.ttf") format("truetype"), url("fonts/heavy/Iosevka-Curly-Heavy.svg#Iosevka-Curly-Heavy") format("svg");
  -o-src: url("fonts/heavy/Iosevka-Curly-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/heavy/Iosevka-Curly-Heavy.woff2") format("woff2"), url("fonts/heavy/Iosevka-Curly-Heavy.woff") format("woff"), url("fonts/heavy/Iosevka-Curly-Heavy.ttf") format("truetype"), url("fonts/heavy/Iosevka-Curly-Heavy.svg#Iosevka-Curly-Heavy") format("svg");
  -ms-src: url("fonts/heavy/Iosevka-Curly-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/heavy/Iosevka-Curly-Heavy.woff2") format("woff2"), url("fonts/heavy/Iosevka-Curly-Heavy.woff") format("woff"), url("fonts/heavy/Iosevka-Curly-Heavy.ttf") format("truetype"), url("fonts/heavy/Iosevka-Curly-Heavy.svg#Iosevka-Curly-Heavy") format("svg");
  src: url("fonts/heavy/Iosevka-Curly-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/heavy/Iosevka-Curly-Heavy.woff2") format("woff2"), url("fonts/heavy/Iosevka-Curly-Heavy.woff") format("woff"), url("fonts/heavy/Iosevka-Curly-Heavy.ttf") format("truetype"), url("fonts/heavy/Iosevka-Curly-Heavy.svg#Iosevka-Curly-Heavy") format("svg"); }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit; }

html {
  scrollbar-width: none; }

body {
  font-family: "Iosevka Curly", monospace;
  font-size: 18px;
  font-weight: 500;
  background-color: #1d2021;
  color: #f9f5d7;
  line-height: 1.4em;
  margin: 0 2rem; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1em; }

header {
  margin: 2rem 0; }
  header h1 {
    color: #689d6a;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -0.05em; }

#table-of-contents {
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 0.2rem dashed #458588;
  border-bottom: 0.2rem dashed #458588; }
  #table-of-contents > h2 {
    margin: 0; }
    #table-of-contents > h2::before {
      content: "➫ ";
      position: initial; }
  #table-of-contents li {
    list-style-position: inside; }
  #table-of-contents a {
    text-decoration: none; }
  #table-of-contents #text-table-of-contents {
    margin-top: 1rem; }
    #table-of-contents #text-table-of-contents ul {
      list-style: none; }
    #table-of-contents #text-table-of-contents > ul {
      display: flex;
      gap: 1rem;
      flex-flow: row wrap; }
      #table-of-contents #text-table-of-contents > ul > li {
        vertical-align: top;
        background-color: #282828;
        border-radius: 1em;
        padding: 1em;
        flex-grow: 1;
        flex-basis: 30%;
        height: min-content; }
        #table-of-contents #text-table-of-contents > ul > li > ul {
          font-weight: 400;
          font-size: 0.9em; }
          #table-of-contents #text-table-of-contents > ul > li > ul > li a {
            margin-left: 1rem; }
          #table-of-contents #text-table-of-contents > ul > li > ul > li > ul {
            font-weight: 300;
            font-size: 0.9em;
            padding-left: 1rem; }

h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #458588;
  margin: 1rem 0 0.5rem; }

h3 {
  font-size: 1.5rem;
  color: #d79921;
  margin: 1rem 0 0.5rem; }

h4 {
  color: #98971a; }

h5 {
  color: #689d6a; }

h6 {
  color: #d65d0e; }

h4,
h5,
h6 {
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem; }

h7 {
  font-size: 1.1rem;
  margin: 1rem 0 0.2rem;
  color: #cc241d; }

.outline-2 {
  width: 80ch;
  margin: 0 auto; }
.outline-2 *, .outline-3 *, .outline-4 *, .outline-5 *, .outline-6 *, .outline-7 *, .outline-8 * {
  margin: 0.5rem 0; }
.outline-2 code, .outline-3 code, .outline-4 code, .outline-5 code, .outline-6 code, .outline-7 code, .outline-8 code {
  margin: 0 calc(0.2em - 1px); }
.outline-3, .outline-4, .outline-5, .outline-6, .outline-7, .outline-8 {
  padding-left: 1rem; }
.outline-text-2 ul,
.outline-text-2 ol, .outline-text-3 ul,
.outline-text-3 ol, .outline-text-4 ul,
.outline-text-4 ol, .outline-text-5 ul,
.outline-text-5 ol, .outline-text-6 ul,
.outline-text-6 ol, .outline-text-7 ul,
.outline-text-7 ol, .outline-text-8 ul,
.outline-text-8 ol {
  margin-left: 1rem; }
  .outline-text-2 ul > ::marker,
  .outline-text-2 ol > ::marker, .outline-text-3 ul > ::marker,
  .outline-text-3 ol > ::marker, .outline-text-4 ul > ::marker,
  .outline-text-4 ol > ::marker, .outline-text-5 ul > ::marker,
  .outline-text-5 ol > ::marker, .outline-text-6 ul > ::marker,
  .outline-text-6 ol > ::marker, .outline-text-7 ul > ::marker,
  .outline-text-7 ol > ::marker, .outline-text-8 ul > ::marker,
  .outline-text-8 ol > ::marker {
    color: #8f3f71; }
.outline-text-2 img, .outline-text-3 img, .outline-text-4 img, .outline-text-5 img, .outline-text-6 img, .outline-text-7 img, .outline-text-8 img {
  display: block;
  max-width: 50vw; }

a {
  text-decoration: underline;
  color: #b16286; }

p.verse {
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 0.3em solid #282828; }

table {
  border-collapse: collapse;
  display: block;
  width: 100%; }
  table img {
    width: 50px; }
  table td, table th {
    border: 1px solid #928374;
    padding: 0.3rem;
    vertical-align: top; }

.underline {
  text-decoration: underline; }

.subtitle {
  text-align: center;
  font-size: 0.9em; }

pre {
  color: #ebdbb2;
  background-color: #3c3836;
  overflow: auto;
  margin: 1rem 0;
  padding: 0.5rem 0.8rem;
  font-size: 0.95em;
  line-height: 1.25em;
  font-weight: 300;
  border: none;
  border-left: 0.2em dashed #928374;
  border-radius: 0 1em 1em 0;
  min-height: calc(2px + 2em); }
  pre.src {
    position: relative; }
    pre.src::before {
      display: none;
      position: absolute;
      background-color: #504945;
      text-align: center;
      font-size: 0.8em;
      top: 0.5em;
      right: 0.5em;
      padding: 0 1em;
      border: 1px solid #928374;
      border-radius: 1em; }
    pre.src:hover::before {
      display: inline; }
    pre.src-text::before {
      display: none; }
    pre.src-shell::before {
      content: "SHELL"; }
    pre.src-haskell::before {
      content: "HASKELL"; }
    pre.src-nix::before {
      content: "NIX"; }

code {
  color: #ebdbb2;
  display: inline-block;
  background-color: #504945;
  padding: 0 0.3em;
  margin: 0 calc(0.2em - 1px);
  border: 1px solid #a89984;
  border-radius: 0.4em; }

.org-string {
  color: #b8bb26; }
.org-type {
  color: #83a598; }
.org-highlight-numbers-number {
  color: #d3869b; }
.org-builtin {
  color: #fe8019; }
.org-variable-name {
  color: #8ec07c; }
.org-keyword {
  color: #fb4934; }
.org-comment {
  color: #928374; }
  .org-comment-delimiter {
    color: #928374; }
.org-haskell-definition {
  color: #b8bb26; }
.org-haskell-constructor {
  color: #fabd2f; }
.org-haskell-operator {
  color: #83a598; }
.org-haskell-type {
  color: #fabd2f; }
.org-haskell-keyword {
  color: #fb4934; }
.org-nix-builtin {
  color: #fe8019; }
.org-nix-attribute {
  color: #83a598; }
.org-nix-keyword {
  color: #fb4934; }
.org-nix-constant {
  color: #d3869b; }

#postamble,
#preamble {
  font-size: 0.9em;
  margin: 3rem 0.5rem 1rem;
  text-align: right;
  line-height: 1em;
  color: #7c6f64; }
  #postamble p + p,
  #preamble p + p {
    margin-top: 0; }

@media print {
  figure,
  img {
    page-break-inside: avoid;
    page-break-after: auto;
    page-break-before: auto; } }
@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
    line-height: 1.2rem; }

  #table-of-contents #text-table-of-contents > ul {
    flex-flow: column nowrap; }

  .outline-2 {
    width: auto; }
  .outline-4, .outline-5, .outline-6, .outline-7, .outline-8 {
    padding-left: 0; }
  .outline-text-3 ul,
  .outline-text-3 ol, .outline-text-4 ul,
  .outline-text-4 ol, .outline-text-5 ul,
  .outline-text-5 ol, .outline-text-6 ul,
  .outline-text-6 ol, .outline-text-7 ul,
  .outline-text-7 ol, .outline-text-8 ul,
  .outline-text-8 ol {
    margin-left: 0; } }

/*# sourceMappingURL=index.css.map */
